// Variables
$blueOne: blue;
$blueTwo: rgb(17, 17, 117);
$backgroundColor: white;
$primary: rgb(1, 87, 155);

// All PAGES

// * {
//   font-family: "Oswald", sans-serif;
// }

body {
  width: 100%;
  // height: 100vh;
  // background-color: $backgroundColor;
}

// Navbar

.navbar {
  background-color: green;
  padding: 20px;
  height: 100%;
  img {
    height: 90px;
  }
}

.logo {
  width: 50px;
  background-color: blue;
  height: 2vw;
}

.nav-item {
  border-left: 1px solid black;
  padding-left: 5px;
  padding-right: 5px;
}

.nav-link li a {
  font-family: "Oswald", sans-serif;
}

// banner

.blurb {
  border-top: 3px solid white;
  padding: 20px;
  background-color: $primary;
  color: white;
}

.banner {
  width: 100%;
  height: 60%;
  object-fit: auto;
  overflow: hidden;
  img {
    width: 100%;
    margin-top: -100px;
  }
}

.page-footer {
  padding-top: 20px;
  color: #fff;
  /* border-top: 5px solid red; */
  /* background-color: #ee6e73; */
}

.page-footer .footer-copyright {
  overflow: hidden;
  min-height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 0px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(51, 51, 51, 0.08);
}

.light-blue {
  background-color: #03a9f4 !important;
}

// .bgSpread {
//   width: 100%; /* width of container */
//   height: 60%; /* height of container */
//   background-color: blue;
//   object-fit: auto;
//   overflow: hidden;
//   img {
//     width: 100%;
//     margin-top: -50px;
//   }
// }

// body {
//   display: flex;
//   min-height: 100vh;
//   flex-direction: column;
// }

// main {
//   flex: 1 0 auto;
// }

// HOMEPAGE CODE START

.wrapper {
  padding-left: 30px;
  padding-right: 30px;
  // display: block;
}

// h1 {
//   border-bottom: 5px solid blue;
//   padding-bottom: 5px;
//   width: 25%;
// }

b {
  color: blue;
}

.center {
  margin: auto;
}

.imageGroup {
  position: relative;
  text-align: center;
}

h5 {
  color: blue !important;
}

.map {
  img {
    margin: 20px;
  }
}

.centerText {
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.flexImage {
  background-color: red;
  width: 100%;
  height: 200px;
  margin-top: 5px;
  // margin-bottom: 10px;
  text-align: center;
}

.footer {
  border-top: 5px solid rgb(199, 199, 199);
  bottom: 0;
  padding: 20px;
  color: white;
  background-color: $blueTwo;
  width: 100%;
  height: 15%;
  float: left;
}

.blue-text {
  color: blue;
  font-family: "Oswald", sans-serif;
}

.blueBackground {
  background-color: blue;
  width: 100vw;
  height: 200px;
  float: left;
}

// HOMEPAGE CODE END

// NEWS PAGE CODE START
// NEWS PAGE CODE END

.bg-white {
  border-left: blue 15px solid;
}
.underline {
  position: relative;
  /* border-bottom: 5px solid brown; */
  padding: 10px;
}
/* .underline:hover {
  /* border-bottom: 5px solid brown; */
.underline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  /* background-color: brown; */
  background-color: hsl(199, 85%, 63%);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.5s ease-out 0s;
  /* margin-top: 20px; */
  margin-bottom: -3px;
}

.underline:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.card-body {
  // border-top: 3px solid blue;
  // background-color: blue;
}

.card {
  overflow-x: hidden;
  img {
    width: 100%;
  }
}

.contacts {
  border-right: black 5px solid;
  background-color: blue;
  color: white;
  float: left;
  padding: 50px;
  padding-bottom: 25%;
  max-width: 40%;
  margin-left: -30px;
  margin-top: -70px;
  margin-right: 20px;
  padding-top: 70px;
  text-align: center;
  justify-content: left;
}

.right {
  float: left;
  width: 60%;
}
