.red-bold {
  color: #802020;
  font-weight: 700;
}

footer a {
  color: #fdff94;
  font-weight: 700;
}

footer a:hover {
  color: white;
}

.yellow-bold {
  color: #fdff94;
  font-weight: 500;
}

li {
  text-align: left;
}

body {
  width: 100%;
}

.navbar {
  background-color: green;
  padding: 20px;
  height: 100%;
}

.navbar img {
  height: 90px;
}

.margin20 {
  margin-top: 20px;
}

.logo {
  width: 50px;
  background-color: blue;
  height: 2vw;
}

.nav-item {
  border-left: 1px solid black;
  padding-left: 5px;
  padding-right: 5px;
}

.nav-link li a {
  font-family: "Oswald", sans-serif;
}

.blurb {
  border-top: 3px solid white;
  padding: 20px;
  background-color: #01579b;
  color: white;
}

.descriptions {
  margin: 20px;
}

.banner {
  width: 100%;
  height: 60%;
  -o-object-fit: auto;
     object-fit: auto;
  overflow: hidden;
}

.banner img {
  width: 100%;
  margin-top: -100px;
}

.page-footer {
  padding-top: 20px;
  color: #fff;
  /* border-top: 5px solid red; */
  /* background-color: #ee6e73; */
}

.page-footer .footer-copyright {
  overflow: hidden;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 0px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(51, 51, 51, 0.08);
}

.light-blue {
  background-color: #03a9f4 !important;
}

.image-trim-card {
  width: 100%;
  /* width of container */
  height: 35%;
  /* height of container */
  overflow: hidden;
  border: 5px solid black;
}

.image-trim-card img {
  width: 100%;
}

.bulletPoints {
  list-style-type: circle;
}

.center {
  margin: auto;
}

.imageGroup {
  position: relative;
  text-align: center;
}

.map img {
  margin: 20px;
}

.centerText p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.flexImage {
  background-color: red;
  width: 100%;
  height: 200px;
  margin-top: 5px;
  text-align: center;
}

.blue-text {
  color: blue;
  font-family: "Oswald", sans-serif;
}

.blueBackground {
  background-color: blue;
  width: 100vw;
  height: 200px;
  float: left;
}

.bg-white {
  border-left: #01579b 15px solid;
  border-bottom: #01579b 2px solid;
  border-top: #01579b 2px solid;
  border-right: #01579b 2px solid;
}

.underline {
  position: relative;
  /* border-bottom: 5px solid brown; */
  padding: 10px;
}

/* .underline:hover {
  /* border-bottom: 5px solid brown; */
.underline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  /* background-color: brown; */
  background-color: #50bef1;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
  /* margin-top: 20px; */
  margin-bottom: -3px;
}

.underline:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.card {
  overflow-x: hidden;
}

.card img {
  width: 100%;
}

.margin20 {
  margin: 20px;
}

.partners {
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partners img {
  height: 40px;
  margin: 5px;
}

.partner-flex {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

h2 {
  text-align: center;
}

#news-banner {
  height: 40vw;
  /* height of container */
  overflow: hidden;
}

#news-banner img {
  width: 100%;
  margin-top: 0px;
}

#contact-container {
  margin: 20px;
  width: 100vw;
  background-color: white;
  height: 100%;
}

#contact-banner {
  width: 100%;
  /* width of container */
  height: 40vw;
  /* height of container */
  overflow: hidden;
}

#contact-banner img {
  width: 100%;
  margin-top: 0px;
}

#contact-wrapper {
  padding-left: auto;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-column-align: center;
      justify-self: center;
  padding-left: auto;
  padding-right: auto;
  display: block;
}

.contacts {
  border-right: black 5px solid;
  background-color: blue;
  color: white;
  float: left;
  padding: 50px;
  padding-bottom: 25%;
  max-width: 40%;
  margin-left: -30px;
  margin-top: -70px;
  margin-right: 20px;
  padding-top: 70px;
  text-align: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.right {
  width: 60%;
}

.form {
  margin-bottom: 20px;
}

.cropped {
  width: 150px;
  /* width of container */
  height: 150px;
  /* height of container */
  overflow: hidden;
  border: 5px solid black;
}

.cropped img {
  margin: -10px 0px 0px -180px;
}

.contact-segment {
  background-color: white;
  color: black;
}

.contact-container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-child-emails {
  background-color: #0b0b77;
  border-right: 5px solid black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-child-form {
  padding: 20px;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

#emails {
  color: white;
}

#wrapper-news {
  padding: 20px;
}

#logistics-container {
  width: 100vw;
  height: 100%;
}

#logistics-container .card {
  margin: 20px;
}

.log-banner {
  width: 100%;
}

.log-banner img {
  width: 100%;
}

.bulletPoint li {
  font-size: 14px;
  margin-left: 10px;
  list-style-type: circle !important;
}

.width-class {
  margin-bottom: 20px;
  padding: 50px;
}

.logistics-info {
  margin-left: 70px;
  margin-right: 70px;
}

.logistics-text {
  font-weight: 700;
  margin: auto;
  width: 80%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logistics-text p {
  padding: 60px;
  margin-top: 100px;
}

#technology-container {
  width: 100vw;
  text-align: center;
}

#technology-container .card {
  display: inline-block;
}

#construction-container {
  background-color: white;
  width: 100vw;
  height: 100%;
}

#construction-container .banner {
  height: 40vh;
}

#construction-container .font-size-med {
  font-weight: 100;
}

#construction-container .font-size-sm {
  font-size: 40px;
}

#construction-container .card {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#construction-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#construction-container .row > div[class*="col-"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#construction-container .construction {
  padding: 20px;
  color: white;
  background-color: #01579b;
  justify-items: center;
  width: 100%;
  margin: auto;
}

#construction-container .construction .p {
  margin-top: 40px;
}

#construction-container footer {
  float: left;
}

#construction-container .text-align-left {
  text-align: left;
}

.drop-shadow {
  text-shadow: 2px 2px 2px grey;
}

#technology-banner {
  width: 100%;
  /* width of container */
  height: 40vw;
  /* height of container */
  overflow: hidden;
}

#technology-banner img {
  width: 100%;
  margin-top: 0px;
}

#construction-banner {
  width: 100%;
  height: 60vw;
  overflow: hidden;
}

#construction-banner img {
  width: 100%;
  margin-top: 0px;
}
/*# sourceMappingURL=style.css.map */