body {
  width: 100%;
}

.navbar {
  background-color: green;
  padding: 20px;
  height: 100%;
}

.navbar img {
  height: 90px;
}

.margin20 {
  margin-top: 20px;
}

.logo {
  width: 50px;
  background-color: blue;
  height: 2vw;
}

.nav-item {
  border-left: 1px solid black;
  padding-left: 5px;
  padding-right: 5px;
}

.nav-link li a {
  font-family: "Oswald", sans-serif;
}

.blurb {
  border-top: 3px solid white;
  padding: 20px;
  background-color: #01579b;
  color: white;
}

.banner {
  width: 100%;
  height: 60%;
  -o-object-fit: auto;
     object-fit: auto;
  overflow: hidden;
}

.banner img {
  width: 100%;
  margin-top: -100px;
}

.page-footer {
  padding-top: 20px;
  color: #fff;
  /* border-top: 5px solid red; */
  /* background-color: #ee6e73; */
}

.page-footer .footer-copyright {
  overflow: hidden;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 0px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(51, 51, 51, 0.08);
}

.light-blue {
  background-color: #03a9f4 !important;
}

.wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

b {
  color: blue;
}

.center {
  margin: auto;
}

.imageGroup {
  position: relative;
  text-align: center;
}

h5 {
  color: blue !important;
}

.map img {
  margin: 20px;
}

.centerText p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.flexImage {
  background-color: red;
  width: 100%;
  height: 200px;
  margin-top: 5px;
  text-align: center;
}

.footer {
  border-top: 5px solid #c7c7c7;
  bottom: 0;
  padding: 20px;
  color: white;
  background-color: #111175;
  width: 100%;
  height: 15%;
  float: left;
}

.blue-text {
  color: blue;
  font-family: "Oswald", sans-serif;
}

.blueBackground {
  background-color: blue;
  width: 100vw;
  height: 200px;
  float: left;
}

.bg-white {
  border-left: blue 15px solid;
}

.underline {
  position: relative;
  /* border-bottom: 5px solid brown; */
  padding: 10px;
}

/* .underline:hover {
  /* border-bottom: 5px solid brown; */
.underline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  /* background-color: brown; */
  background-color: #50bef1;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
  /* margin-top: 20px; */
  margin-bottom: -3px;
}

.underline:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.card {
  overflow-x: hidden;
}

.card img {
  width: 100%;
}

.contacts {
  border-right: black 5px solid;
  background-color: blue;
  color: white;
  float: left;
  padding: 50px;
  padding-bottom: 25%;
  max-width: 40%;
  margin-left: -30px;
  margin-top: -70px;
  margin-right: 20px;
  padding-top: 70px;
  text-align: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.right {
  float: left;
  width: 60%;
}
/*# sourceMappingURL=style.css.map */