body {
  width: 100%;
  height: 100vh;
  background-color: blue;
}

.navbar {
  background-color: green;
  padding: 20px;
}

.wrapper {
  padding: 20px;
  display: block;
}

.banner {
  background-color: red;
  width: 100vw;
  height: 25%;
}

.footer {
  bottom: 0;
  background-color: yellow;
  width: 100%;
  height: 15%;
}
